# Creating the Data for the Map
---
The first step is to clean the dataset to be able to map it correctly.

In [227]:
import numpy as np
import pandas as pd
import pycountry
import collections
import json

DATA_DIR = '../Data/'

Load the data:

In [228]:
data = pd.concat(pd.read_excel(DATA_DIR + 'PARTICIPANT LISTS - 2013-present.xlsx', sheet_name=None, header=1))
display(data.head(), data.shape)

       P/I              NAME E-MAIL AFFILIATION \nTYPE  \
2013 0   I  Mary Ruckelshaus    NaN           Academic
     1   I       Anne Guerry    NaN           Academic
     2   I      Spencer Wood    NaN           Academic
     3   I    Robert Griffin    NaN           Academic
     4   I       Jess Silver    NaN           Academic

              AFFILIATION\nNAME COUNTRY   TYPE  COUNTRY.1 START\nDATE  \
2013 0  Natural Capital Project     USA  Nodal  Argentina  2013-09-12
     1  Natural Capital Project     USA  Nodal  Argentina  2013-09-12
     2  Natural Capital Project     USA  Nodal  Argentina  2013-09-12
     3  Natural Capital Project     USA  Nodal  Argentina  2013-09-12
     4  Natural Capital Project     USA  Nodal  Argentina  2013-09-12

        LENGTH\n(# OF DAYS)  100 LEVEL\n(INTRO)  200 LEVEL\n(INTERMEDIATE)  \
2013 0                  2.0                 1.0                        1.0
     1                  2.0                 1.0                        1.0
     2                  2.0                 1.0                        1.0
     3                  2.0                 1.0                        1.0
     4                  2.0                 1.0                        1.0

        300 LEVEL\n(ADVANCED)
2013 0                    NaN
     1                    NaN
     2                    NaN
     3                    NaN
     4                    NaN

(4192, 13)

Look at the unique country names in both country columns:

In [229]:
pd.concat([data['COUNTRY'], data['COUNTRY.1']]).unique()

array(['USA', 'Argentina', 'Chile', 'Thailand', 'Vietnam', 'Cambodia',
       'Kyrgystan', 'United Kingdom', 'Mozambique', 'Peru', 'Colombia',
       'Brazil', 'Ecuador', 'Germany', 'Malaysia', 'Sweden', 'Australia',
       'Denmark', 'Switzerland', 'Indonesia', 'Japan', 'Laos',
       'Netherlands', 'New Zealand', 'China', 'Mexico', 'Bulgaria',
       'Cameroon', 'Philippines', 'Singapore', 'Hungary', 'Kenya',
       'Canada', 'Costa Rica', 'Nicaragua', 'Panama',
       'República Dominicana', nan, 'Guatemala', 'Brasil', 'Mongolia',
       'Spain', 'Portugal', 'Georgia', 'Italy', 'Belgium', 'India',
       'Bolivia', 'France', 'Trinidad and Tobago', 'Lithuania', 'Nepal',
       'Israel', 'Norway', 'Korea', 'Belgian', 'Greece', 'Barbados',
       'Trinidad & Tobago', 'Bhutan', 'Myanmar', 'Kazakhstan',
       'Sri Lanka', 'Ghana', 'Ethiopia', 'Tanzania', 'South Africa',
       'Jordan', 'Bangladesh', 'UK', 'Tunisia', 'Slovenia',
       'United Arab Emirates', 'Romania', 'Austria', 'Zimbabwe',
       'Puerto Rico', 'Morocco', 'Egypt',
       'Not sure Not an SAPECS person…', 'Botswana', 'Kyrgyzstan',
       'Belize', 'Bahamas', 'Martinique', 'Suriname', 'United States',
       'Benin', 'Russia', 'Swaziland', 'Seychelles', 'Madagascar',
       'South Korea', 'Nigeria', 'Russian Federation', 'Liberia',
       'Jamaica', "Côte-d'Ivoire", 'Pakistan', 'Scotland', 'England',
       'Virtual', 'Finland'], dtype=object)

Look at the country names `pycountry` can understand (because we will use it to get the country codes for the map:

In [230]:
np.array([country.name for country in pycountry.countries])

array(['Aruba', 'Afghanistan', 'Angola', 'Anguilla', 'Åland Islands',
       'Albania', 'Andorra', 'United Arab Emirates', 'Argentina',
       'Armenia', 'American Samoa', 'Antarctica',
       'French Southern Territories', 'Antigua and Barbuda', 'Australia',
       'Austria', 'Azerbaijan', 'Burundi', 'Belgium', 'Benin',
       'Bonaire, Sint Eustatius and Saba', 'Burkina Faso', 'Bangladesh',
       'Bulgaria', 'Bahrain', 'Bahamas', 'Bosnia and Herzegovina',
       'Saint Barthélemy', 'Belarus', 'Belize', 'Bermuda',
       'Bolivia, Plurinational State of', 'Brazil', 'Barbados',
       'Brunei Darussalam', 'Bhutan', 'Bouvet Island', 'Botswana',
       'Central African Republic', 'Canada', 'Cocos (Keeling) Islands',
       'Switzerland', 'Chile', 'China', "Côte d'Ivoire", 'Cameroon',
       'Congo, The Democratic Republic of the', 'Congo', 'Cook Islands',
       'Colombia', 'Comoros', 'Cabo Verde', 'Costa Rica', 'Cuba',
       'Curaçao', 'Christmas Island', 'Cayman Islands', 'Cyprus',
       'Czechia', 'Germany', 'Djibouti', 'Dominica', 'Denmark',
       'Dominican Republic', 'Algeria', 'Ecuador', 'Egypt', 'Eritrea',
       'Western Sahara', 'Spain', 'Estonia', 'Ethiopia', 'Finland',
       'Fiji', 'Falkland Islands (Malvinas)', 'France', 'Faroe Islands',
       'Micronesia, Federated States of', 'Gabon', 'United Kingdom',
       'Georgia', 'Guernsey', 'Ghana', 'Gibraltar', 'Guinea',
       'Guadeloupe', 'Gambia', 'Guinea-Bissau', 'Equatorial Guinea',
       'Greece', 'Grenada', 'Greenland', 'Guatemala', 'French Guiana',
       'Guam', 'Guyana', 'Hong Kong', 'Heard Island and McDonald Islands',
       'Honduras', 'Croatia', 'Haiti', 'Hungary', 'Indonesia',
       'Isle of Man', 'India', 'British Indian Ocean Territory',
       'Ireland', 'Iran, Islamic Republic of', 'Iraq', 'Iceland',
       'Israel', 'Italy', 'Jamaica', 'Jersey', 'Jordan', 'Japan',
       'Kazakhstan', 'Kenya', 'Kyrgyzstan', 'Cambodia', 'Kiribati',
       'Saint Kitts and Nevis', 'Korea, Republic of', 'Kuwait',
       "Lao People's Democratic Republic", 'Lebanon', 'Liberia', 'Libya',
       'Saint Lucia', 'Liechtenstein', 'Sri Lanka', 'Lesotho',
       'Lithuania', 'Luxembourg', 'Latvia', 'Macao',
       'Saint Martin (French part)', 'Morocco', 'Monaco',
       'Moldova, Republic of', 'Madagascar', 'Maldives', 'Mexico',
       'Marshall Islands', 'Macedonia, Republic of', 'Mali', 'Malta',
       'Myanmar', 'Montenegro', 'Mongolia', 'Northern Mariana Islands',
       'Mozambique', 'Mauritania', 'Montserrat', 'Martinique',
       'Mauritius', 'Malawi', 'Malaysia', 'Mayotte', 'Namibia',
       'New Caledonia', 'Niger', 'Norfolk Island', 'Nigeria', 'Nicaragua',
       'Niue', 'Netherlands', 'Norway', 'Nepal', 'Nauru', 'New Zealand',
       'Oman', 'Pakistan', 'Panama', 'Pitcairn', 'Peru', 'Philippines',
       'Palau', 'Papua New Guinea', 'Poland', 'Puerto Rico',
       "Korea, Democratic People's Republic of", 'Portugal', 'Paraguay',
       'Palestine, State of', 'French Polynesia', 'Qatar', 'Réunion',
       'Romania', 'Russian Federation', 'Rwanda', 'Saudi Arabia', 'Sudan',
       'Senegal', 'Singapore',
       'South Georgia and the South Sandwich Islands',
       'Saint Helena, Ascension and Tristan da Cunha',
       'Svalbard and Jan Mayen', 'Solomon Islands', 'Sierra Leone',
       'El Salvador', 'San Marino', 'Somalia',
       'Saint Pierre and Miquelon', 'Serbia', 'South Sudan',
       'Sao Tome and Principe', 'Suriname', 'Slovakia', 'Slovenia',
       'Sweden', 'Swaziland', 'Sint Maarten (Dutch part)', 'Seychelles',
       'Syrian Arab Republic', 'Turks and Caicos Islands', 'Chad', 'Togo',
       'Thailand', 'Tajikistan', 'Tokelau', 'Turkmenistan', 'Timor-Leste',
       'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Tuvalu',
       'Taiwan, Province of China', 'Tanzania, United Republic of',
       'Uganda', 'Ukraine', 'United States Minor Outlying Islands',
       'Uruguay', 'United States', 'Uzbekistan',
       'Holy See (Vatican City State)',
       'Saint Vincent and the Grenadines',
       'Venezuela, Bolivarian Republic of', 'Virgin Islands, British',
       'Virgin Islands, U.S.', 'Viet Nam', 'Vanuatu', 'Wallis and Futuna',
       'Samoa', 'Yemen', 'South Africa', 'Zambia', 'Zimbabwe'],
      dtype='<U44')

Create the corrections as a dictionary:

In [231]:
corrections = {
    'Belgian' : 'Belgium',
    'Bolivia' : 'Bolivia, Plurinational State of',
    'Brasil' : 'Brazil',
    "Côte-d'Ivoire" : "Côte d'Ivoire",
    'England' : 'United Kingdom',
    'Korea' : 'Korea, Republic of',
    'Kyrgystan' : 'Kyrgyzstan',
    'Laos' : "Lao People's Democratic Republic",
    'Not sure Not an SAPECS person…' : None,
    'República Dominicana' : 'Dominican Republic',
    'Russia' : 'Russian Federation',
    'Scotland' : 'United Kingdom', 
    'South Korea' : 'Korea, Republic of',
    'Tanzania' : 'Tanzania, United Republic of',
    'Trinidad & Tobago' : 'Trinidad and Tobago',
    'UK' : 'United Kingdom',
    'USA' : 'United States',
    'Vietnam' : 'Viet Nam',
    'Virtual' : None
}

corrections

{'Belgian': 'Belgium',
 'Bolivia': 'Bolivia, Plurinational State of',
 'Brasil': 'Brazil',
 "Côte-d'Ivoire": "Côte d'Ivoire",
 'England': 'United Kingdom',
 'Korea': 'Korea, Republic of',
 'Kyrgystan': 'Kyrgyzstan',
 'Laos': "Lao People's Democratic Republic",
 'Not sure Not an SAPECS person…': None,
 'República Dominicana': 'Dominican Republic',
 'Russia': 'Russian Federation',
 'Scotland': 'United Kingdom',
 'South Korea': 'Korea, Republic of',
 'Tanzania': 'Tanzania, United Republic of',
 'Trinidad & Tobago': 'Trinidad and Tobago',
 'UK': 'United Kingdom',
 'USA': 'United States',
 'Vietnam': 'Viet Nam',
 'Virtual': None}

Replace the wrong versions with the right versions:

In [232]:
data.replace(to_replace=corrections, inplace=True)

Drop the missing countries because there is no way to map them:

In [233]:
data.dropna(subset=['COUNTRY', 'COUNTRY.1'], inplace=True)  # Drop unknown countries for the country data

Check that `pycountry` can get the codes for all the countries without errors:

In [241]:
country_names = pd.concat([data['COUNTRY'], data['COUNTRY.1']]).unique()
country_codes = np.array([pycountry.countries.get(name=country).alpha_2 for country in country_names])
code_mapping = dict(zip(country_names, country_codes))
code_mapping

{'United States': 'US',
 'Argentina': 'AR',
 'Chile': 'CL',
 'Thailand': 'TH',
 'Viet Nam': 'VN',
 'Cambodia': 'KH',
 'Kyrgyzstan': 'KG',
 'United Kingdom': 'GB',
 'Mozambique': 'MZ',
 'Peru': 'PE',
 'Colombia': 'CO',
 'Brazil': 'BR',
 'Ecuador': 'EC',
 'Germany': 'DE',
 'Malaysia': 'MY',
 'Sweden': 'SE',
 'Australia': 'AU',
 'Denmark': 'DK',
 'Switzerland': 'CH',
 'Indonesia': 'ID',
 'Japan': 'JP',
 "Lao People's Democratic Republic": 'LA',
 'Netherlands': 'NL',
 'New Zealand': 'NZ',
 'China': 'CN',
 'Mexico': 'MX',
 'Bulgaria': 'BG',
 'Cameroon': 'CM',
 'Philippines': 'PH',
 'Singapore': 'SG',
 'Hungary': 'HU',
 'Kenya': 'KE',
 'Canada': 'CA',
 'Costa Rica': 'CR',
 'Nicaragua': 'NI',
 'Panama': 'PA',
 'Dominican Republic': 'DO',
 'Guatemala': 'GT',
 'Mongolia': 'MN',
 'Spain': 'ES',
 'Portugal': 'PT',
 'Georgia': 'GE',
 'Italy': 'IT',
 'Belgium': 'BE',
 'India': 'IN',
 'Bolivia, Plurinational State of': 'BO',
 'France': 'FR',
 'Trinidad and Tobago': 'TT',
 'Lithuania': 'LT',
 'Nepal': 'NP',
 'Israel': 'IL',
 'Norway': 'NO',
 'Korea, Republic of': 'KR',
 'Greece': 'GR',
 'Barbados': 'BB',
 'Bhutan': 'BT',
 'Myanmar': 'MM',
 'Kazakhstan': 'KZ',
 'Sri Lanka': 'LK',
 'Ghana': 'GH',
 'Ethiopia': 'ET',
 'Tanzania, United Republic of': 'TZ',
 'South Africa': 'ZA',
 'Jordan': 'JO',
 'Bangladesh': 'BD',
 'Tunisia': 'TN',
 'Slovenia': 'SI',
 'United Arab Emirates': 'AE',
 'Romania': 'RO',
 'Austria': 'AT',
 'Zimbabwe': 'ZW',
 'Puerto Rico': 'PR',
 'Morocco': 'MA',
 'Egypt': 'EG',
 'Botswana': 'BW',
 'Belize': 'BZ',
 'Bahamas': 'BS',
 'Martinique': 'MQ',
 'Suriname': 'SR',
 'Benin': 'BJ',
 'Russian Federation': 'RU',
 'Swaziland': 'SZ',
 'Seychelles': 'SC',
 'Madagascar': 'MG',
 'Nigeria': 'NG',
 'Liberia': 'LR',
 'Jamaica': 'JM',
 "Côte d'Ivoire": 'CI',
 'Pakistan': 'PK',
 'Finland': 'FI'}

Replace country names in the data with the codes:

In [243]:
data.replace(to_replace=code_mapping, inplace=True)

Save the new data:

In [246]:
data.to_csv(DATA_DIR + 'clean_countries.csv')

# Processing the Data for the Map
---
The second step is to aggregate the data and count the number of trainees from each country and the number of trainings held in each country.