# Creating the Data for the Map
---
The first step is to clean the dataset to be able to map it correctly.

In [1]:
import numpy as np
import pandas as pd
import pycountry
import collections
import json

DATA_DIR = '../Data/'

Load the data:

In [2]:
data = pd.concat(pd.read_excel(DATA_DIR + 'PARTICIPANT LISTS - 2013-present.xlsx', sheet_name=None, header=1))
display(data.head(), data.shape)

       P/I              NAME E-MAIL AFFILIATION \nTYPE  \
2013 0   I  Mary Ruckelshaus    NaN           Academic
     1   I       Anne Guerry    NaN           Academic
     2   I      Spencer Wood    NaN           Academic
     3   I    Robert Griffin    NaN           Academic
     4   I       Jess Silver    NaN           Academic

              AFFILIATION\nNAME COUNTRY   TYPE  COUNTRY.1 START\nDATE  \
2013 0  Natural Capital Project     USA  Nodal  Argentina  2013-09-12
     1  Natural Capital Project     USA  Nodal  Argentina  2013-09-12
     2  Natural Capital Project     USA  Nodal  Argentina  2013-09-12
     3  Natural Capital Project     USA  Nodal  Argentina  2013-09-12
     4  Natural Capital Project     USA  Nodal  Argentina  2013-09-12

        LENGTH\n(# OF DAYS)  100 LEVEL\n(INTRO)  200 LEVEL\n(INTERMEDIATE)  \
2013 0                  2.0                 1.0                        1.0
     1                  2.0                 1.0                        1.0
     2                  2.0                 1.0                        1.0
     3                  2.0                 1.0                        1.0
     4                  2.0                 1.0                        1.0

        300 LEVEL\n(ADVANCED)
2013 0                    NaN
     1                    NaN
     2                    NaN
     3                    NaN
     4                    NaN

(4192, 13)

Look at the unique country names in both country columns:

In [3]:
pd.concat([data['COUNTRY'], data['COUNTRY.1']]).unique()

array(['USA', 'Argentina', 'Chile', 'Thailand', 'Vietnam', 'Cambodia',
       'Kyrgystan', 'United Kingdom', 'Mozambique', 'Peru', 'Colombia',
       'Brazil', 'Ecuador', 'Germany', 'Malaysia', 'Sweden', 'Australia',
       'Denmark', 'Switzerland', 'Indonesia', 'Japan', 'Laos',
       'Netherlands', 'New Zealand', 'China', 'Mexico', 'Bulgaria',
       'Cameroon', 'Philippines', 'Singapore', 'Hungary', 'Kenya',
       'Canada', 'Costa Rica', 'Nicaragua', 'Panama',
       'República Dominicana', nan, 'Guatemala', 'Brasil', 'Mongolia',
       'Spain', 'Portugal', 'Georgia', 'Italy', 'Belgium', 'India',
       'Bolivia', 'France', 'Trinidad and Tobago', 'Lithuania', 'Nepal',
       'Israel', 'Norway', 'Korea', 'Belgian', 'Greece', 'Barbados',
       'Trinidad & Tobago', 'Bhutan', 'Myanmar', 'Kazakhstan', 'Sri Lanka',
       'Ghana', 'Ethiopia', 'Tanzania', 'South Africa', 'Jordan',
       'Bangladesh', 'UK', 'Tunisia', 'Slovenia', 'United Arab Emirates',
       'Romania', 'Austria', 'Zimbabwe', 'Puerto Rico', 'Morocco', 'Egypt',
       'Not sure Not an SAPECS person…', 'Botswana', 'Kyrgyzstan',
       'Belize', 'Bahamas', 'Martinique', 'Suriname', 'United States',
       'Benin', 'Russia', 'Swaziland', 'Seychelles', 'Madagascar',
       'South Korea', 'Nigeria', 'Russian Federation', 'Liberia',
       'Jamaica', "Côte-d'Ivoire", 'Pakistan', 'Scotland', 'England',
       'Virtual', 'Finland'], dtype=object)

Look at the country names `pycountry` can understand (because we will use it to get the country codes for the map:

In [4]:
np.array([country.name for country in pycountry.countries])

array(['Aruba', 'Afghanistan', 'Angola', 'Anguilla', 'Åland Islands',
       'Albania', 'Andorra', 'United Arab Emirates', 'Argentina',
       'Armenia', 'American Samoa', 'Antarctica',
       'French Southern Territories', 'Antigua and Barbuda', 'Australia',
       'Austria', 'Azerbaijan', 'Burundi', 'Belgium', 'Benin',
       'Bonaire, Sint Eustatius and Saba', 'Burkina Faso', 'Bangladesh',
       'Bulgaria', 'Bahrain', 'Bahamas', 'Bosnia and Herzegovina',
       'Saint Barthélemy', 'Belarus', 'Belize', 'Bermuda',
       'Bolivia, Plurinational State of', 'Brazil', 'Barbados',
       'Brunei Darussalam', 'Bhutan', 'Bouvet Island', 'Botswana',
       'Central African Republic', 'Canada', 'Cocos (Keeling) Islands',
       'Switzerland', 'Chile', 'China', "Côte d'Ivoire", 'Cameroon',
       'Congo, The Democratic Republic of the', 'Congo', 'Cook Islands',
       'Colombia', 'Comoros', 'Cabo Verde', 'Costa Rica', 'Cuba',
       'Curaçao', 'Christmas Island', 'Cayman Islands', 'Cyprus',
       'Czechia', 'Germany', 'Djibouti', 'Dominica', 'Denmark',
       'Dominican Republic', 'Algeria', 'Ecuador', 'Egypt', 'Eritrea',
       'Western Sahara', 'Spain', 'Estonia', 'Ethiopia', 'Finland', 'Fiji',
       'Falkland Islands (Malvinas)', 'France', 'Faroe Islands',
       'Micronesia, Federated States of', 'Gabon', 'United Kingdom',
       'Georgia', 'Guernsey', 'Ghana', 'Gibraltar', 'Guinea', 'Guadeloupe',
       'Gambia', 'Guinea-Bissau', 'Equatorial Guinea', 'Greece', 'Grenada',
       'Greenland', 'Guatemala', 'French Guiana', 'Guam', 'Guyana',
       'Hong Kong', 'Heard Island and McDonald Islands', 'Honduras',
       'Croatia', 'Haiti', 'Hungary', 'Indonesia', 'Isle of Man', 'India',
       'British Indian Ocean Territory', 'Ireland',
       'Iran, Islamic Republic of', 'Iraq', 'Iceland', 'Israel', 'Italy',
       'Jamaica', 'Jersey', 'Jordan', 'Japan', 'Kazakhstan', 'Kenya',
       'Kyrgyzstan', 'Cambodia', 'Kiribati', 'Saint Kitts and Nevis',
       'Korea, Republic of', 'Kuwait', "Lao People's Democratic Republic",
       'Lebanon', 'Liberia', 'Libya', 'Saint Lucia', 'Liechtenstein',
       'Sri Lanka', 'Lesotho', 'Lithuania', 'Luxembourg', 'Latvia',
       'Macao', 'Saint Martin (French part)', 'Morocco', 'Monaco',
       'Moldova, Republic of', 'Madagascar', 'Maldives', 'Mexico',
       'Marshall Islands', 'Macedonia, Republic of', 'Mali', 'Malta',
       'Myanmar', 'Montenegro', 'Mongolia', 'Northern Mariana Islands',
       'Mozambique', 'Mauritania', 'Montserrat', 'Martinique', 'Mauritius',
       'Malawi', 'Malaysia', 'Mayotte', 'Namibia', 'New Caledonia',
       'Niger', 'Norfolk Island', 'Nigeria', 'Nicaragua', 'Niue',
       'Netherlands', 'Norway', 'Nepal', 'Nauru', 'New Zealand', 'Oman',
       'Pakistan', 'Panama', 'Pitcairn', 'Peru', 'Philippines', 'Palau',
       'Papua New Guinea', 'Poland', 'Puerto Rico',
       "Korea, Democratic People's Republic of", 'Portugal', 'Paraguay',
       'Palestine, State of', 'French Polynesia', 'Qatar', 'Réunion',
       'Romania', 'Russian Federation', 'Rwanda', 'Saudi Arabia', 'Sudan',
       'Senegal', 'Singapore',
       'South Georgia and the South Sandwich Islands',
       'Saint Helena, Ascension and Tristan da Cunha',
       'Svalbard and Jan Mayen', 'Solomon Islands', 'Sierra Leone',
       'El Salvador', 'San Marino', 'Somalia', 'Saint Pierre and Miquelon',
       'Serbia', 'South Sudan', 'Sao Tome and Principe', 'Suriname',
       'Slovakia', 'Slovenia', 'Sweden', 'Swaziland',
       'Sint Maarten (Dutch part)', 'Seychelles', 'Syrian Arab Republic',
       'Turks and Caicos Islands', 'Chad', 'Togo', 'Thailand',
       'Tajikistan', 'Tokelau', 'Turkmenistan', 'Timor-Leste', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Tuvalu',
       'Taiwan, Province of China', 'Tanzania, United Republic of',
       'Uganda', 'Ukraine', 'United States Minor Outlying Islands',
       'Uruguay', 'United States', 'Uzbekistan',
       'Holy See (Vatican City State)', 'Saint Vincent and the Grenadines',
       'Venezuela, Bolivarian Republic of', 'Virgin Islands, British',
       'Virgin Islands, U.S.', 'Viet Nam', 'Vanuatu', 'Wallis and Futuna',
       'Samoa', 'Yemen', 'South Africa', 'Zambia', 'Zimbabwe'],
      dtype='<U44')

Create the corrections as a dictionary:

In [5]:
corrections = {
    'Belgian' : 'Belgium',
    'Bolivia' : 'Bolivia, Plurinational State of',
    'Brasil' : 'Brazil',
    "Côte-d'Ivoire" : "Côte d'Ivoire",
    'England' : 'United Kingdom',
    'Korea' : 'Korea, Republic of',
    'Kyrgystan' : 'Kyrgyzstan',
    'Laos' : "Lao People's Democratic Republic",
    'Not sure Not an SAPECS person…' : None,
    'República Dominicana' : 'Dominican Republic',
    'Russia' : 'Russian Federation',
    'Scotland' : 'United Kingdom', 
    'South Korea' : 'Korea, Republic of',
    'Tanzania' : 'Tanzania, United Republic of',
    'Trinidad & Tobago' : 'Trinidad and Tobago',
    'UK' : 'United Kingdom',
    'USA' : 'United States',
    'Vietnam' : 'Viet Nam',
    'Virtual' : None
}

corrections

{'Belgian': 'Belgium',
 'Bolivia': 'Bolivia, Plurinational State of',
 'Brasil': 'Brazil',
 "Côte-d'Ivoire": "Côte d'Ivoire",
 'England': 'United Kingdom',
 'Korea': 'Korea, Republic of',
 'Kyrgystan': 'Kyrgyzstan',
 'Laos': "Lao People's Democratic Republic",
 'Not sure Not an SAPECS person…': None,
 'República Dominicana': 'Dominican Republic',
 'Russia': 'Russian Federation',
 'Scotland': 'United Kingdom',
 'South Korea': 'Korea, Republic of',
 'Tanzania': 'Tanzania, United Republic of',
 'Trinidad & Tobago': 'Trinidad and Tobago',
 'UK': 'United Kingdom',
 'USA': 'United States',
 'Vietnam': 'Viet Nam',
 'Virtual': None}

Replace the wrong versions with the right versions:

In [6]:
data.replace(to_replace=corrections, inplace=True)

Drop the missing countries because there is no way to map them:

In [7]:
data.dropna(subset=['COUNTRY', 'COUNTRY.1'], inplace=True)  # Drop unknown countries for the country data

Check that `pycountry` can get the codes for all the countries without errors:

In [8]:
country_names = pd.concat([data['COUNTRY'], data['COUNTRY.1']]).unique()
country_codes = np.array([pycountry.countries.get(name=country).alpha_2 for country in country_names])
code_mapping = dict(zip(country_names, country_codes))
code_mapping

{'United States': 'US',
 'Argentina': 'AR',
 'Chile': 'CL',
 'Thailand': 'TH',
 'Viet Nam': 'VN',
 'Cambodia': 'KH',
 'Kyrgyzstan': 'KG',
 'United Kingdom': 'GB',
 'Mozambique': 'MZ',
 'Peru': 'PE',
 'Colombia': 'CO',
 'Brazil': 'BR',
 'Ecuador': 'EC',
 'Germany': 'DE',
 'Malaysia': 'MY',
 'Sweden': 'SE',
 'Australia': 'AU',
 'Denmark': 'DK',
 'Switzerland': 'CH',
 'Indonesia': 'ID',
 'Japan': 'JP',
 "Lao People's Democratic Republic": 'LA',
 'Netherlands': 'NL',
 'New Zealand': 'NZ',
 'China': 'CN',
 'Mexico': 'MX',
 'Bulgaria': 'BG',
 'Cameroon': 'CM',
 'Philippines': 'PH',
 'Singapore': 'SG',
 'Hungary': 'HU',
 'Kenya': 'KE',
 'Canada': 'CA',
 'Costa Rica': 'CR',
 'Nicaragua': 'NI',
 'Panama': 'PA',
 'Dominican Republic': 'DO',
 'Guatemala': 'GT',
 'Mongolia': 'MN',
 'Spain': 'ES',
 'Portugal': 'PT',
 'Georgia': 'GE',
 'Italy': 'IT',
 'Belgium': 'BE',
 'India': 'IN',
 'Bolivia, Plurinational State of': 'BO',
 'France': 'FR',
 'Trinidad and Tobago': 'TT',
 'Lithuania': 'LT',
 'Nepal': 'NP',
 'Israel': 'IL',
 'Norway': 'NO',
 'Korea, Republic of': 'KR',
 'Greece': 'GR',
 'Barbados': 'BB',
 'Bhutan': 'BT',
 'Myanmar': 'MM',
 'Kazakhstan': 'KZ',
 'Sri Lanka': 'LK',
 'Ghana': 'GH',
 'Ethiopia': 'ET',
 'Tanzania, United Republic of': 'TZ',
 'South Africa': 'ZA',
 'Jordan': 'JO',
 'Bangladesh': 'BD',
 'Tunisia': 'TN',
 'Slovenia': 'SI',
 'United Arab Emirates': 'AE',
 'Romania': 'RO',
 'Austria': 'AT',
 'Zimbabwe': 'ZW',
 'Puerto Rico': 'PR',
 'Morocco': 'MA',
 'Egypt': 'EG',
 'Botswana': 'BW',
 'Belize': 'BZ',
 'Bahamas': 'BS',
 'Martinique': 'MQ',
 'Suriname': 'SR',
 'Benin': 'BJ',
 'Russian Federation': 'RU',
 'Swaziland': 'SZ',
 'Seychelles': 'SC',
 'Madagascar': 'MG',
 'Nigeria': 'NG',
 'Liberia': 'LR',
 'Jamaica': 'JM',
 "Côte d'Ivoire": 'CI',
 'Pakistan': 'PK',
 'Finland': 'FI'}

Replace country names in the data with the codes:

In [9]:
data.replace(to_replace=code_mapping, inplace=True)

Save the new data:

In [12]:
data

         P/I                  NAME                        E-MAIL  \
2013 0     I      Mary Ruckelshaus                           NaN
     1     I           Anne Guerry                           NaN
     2     I          Spencer Wood                           NaN
     3     I        Robert Griffin                           NaN
     4     I           Jess Silver                           NaN
     5     I          Douglas Denu                           NaN
     6     P          Ana Liberoff        ana.liberoff@gmail.com
     7     P   María Cecilia Brand         cecibrand@hotmail.com
     8     P          Jorge Kuroda      chimekuroda@yahoo.com.ar
     9     P      Daniel Fernandez      dfernandez.ush@gmail.com
     10    P          Enrique Hahn         eahahn@neuquen.gov.ar
     11    P        Marcelo Alonso           elamariyo@gmail.com
     12    P          Gerardo Noir      gerardonoir@yahoo.com.ar
     13    P  Rodolfo Sr Iturraspe         iturraspe@tdfuego.com
     14    P        Javier Beltrán              jbeltran@tnc.org
     15    P            Juana Aigo           juanaaigo@gmail.com
     16    P        Laura Brandizi       laurabrandizi@gmail.com
     17    P            Luis Epele        luisbepele@hotmail.com
     18    P  Martin García Asorey    martinentransito@gmail.com
     19    P        Miguel Pascual        miguelafuera@gmail.com
     20    P          Miriam Solís  miriam@cenpat-conicet.gob.ar
     21    P     Laura Miserendino             mlau@ar.inter.net
     22    P          Pablo Hualde      pablohualde@yahoo.com.ar
     23    P      Ricardo Albariño            ralbarin@gmail.com
     24    P         Pablo Rimoldi        rimoldipablo@gmail.com
     25    P  Rodrigo Jr Iturraspe    rodrigoiturraspe@gmail.com
     26    P          Sabrina Haag          sabri.haag@gmail.com
     27    P       Silvia Flaherty     silvia_flaherty@yahoo.com
     28    P       Adriana Urciolo          urciuolo@tdfuego.com
     29    P          Yanina Rubio       yaninarubio@hotmail.com
...       ..                   ...                           ...
2018 753   P                   NaN                           NaN
     754   P                   NaN                           NaN
     755   P                   NaN                           NaN
     756   P                   NaN                           NaN
     757   P                   NaN                           NaN
     758   P                   NaN                           NaN
     759   P                   NaN                           NaN
     760   P                   NaN                           NaN
     761   P                   NaN                           NaN
     762   P                   NaN                           NaN
     763   P                   NaN                           NaN
     764   P                   NaN                           NaN
     765   P                   NaN                           NaN
     766   P                   NaN                           NaN
     767   P                   NaN                           NaN
     768   P                   NaN                           NaN
     769   P                   NaN                           NaN
     770   P                   NaN                           NaN
     771   P                   NaN                           NaN
     772   P                   NaN                           NaN
     773   P                   NaN                           NaN
     774   P                   NaN                           NaN
     775   P                   NaN                           NaN
     776   P                   NaN                           NaN
     777   P                   NaN                           NaN
     778   P                   NaN                           NaN
     779   I         Perrine Hamel                           NaN
     780   I      Nirmal Bhagabati                           NaN
     794   I           Lisa Mandle                           NaN
     795   I       Henry Borrebach                           NaN

         AFFILIATION \nTYPE  \
2013 0             Academic
     1             Academic
     2             Academic
     3             Academic
     4             Academic
     5             Academic
     6                Gov't
     7                Gov't
     8                  NGO
     9                Gov't
     10               Gov't
     11            Academic
     12               Gov't
     13            Academic
     14                 NGO
     15               Gov't
     16               Gov't
     17            Academic
     18               Gov't
     19               Gov't
     20               Gov't
     21               Gov't
     22                 NGO
     23               Gov't
     24               Gov't
     25                 NGO
     26                 NGO
     27               Gov't
     28            Academic
     29               Gov't
...                     ...
2018 753           Academic
     754           Academic
     755           Academic
     756           Academic
     757           Academic
     758           Academic
     759           Academic
     760           Academic
     761           Academic
     762           Academic
     763           Academic
     764           Academic
     765           Academic
     766           Academic
     767           Academic
     768           Academic
     769           Academic
     770           Academic
     771           Academic
     772           Academic
     773           Academic
     774           Academic
     775           Academic
     776           Academic
     777           Academic
     778           Academic
     779             NatCap
     780             NatCap
     794             NatCap
     795             NatCap

                                          AFFILIATION\nNAME COUNTRY      TYPE  \
2013 0                              Natural Capital Project      US     Nodal
     1                              Natural Capital Project      US     Nodal
     2                              Natural Capital Project      US     Nodal
     3                              Natural Capital Project      US     Nodal
     4                              Natural Capital Project      US     Nodal
     5                              Natural Capital Project      US     Nodal
     6    CONICET - Centro Nacional Patagónico - Puerto ...      AR     Nodal
     7                                     CONICET - Esquel      AR     Nodal
     8                Centro de Ecología Aplicada de Nequén      AR     Nodal
     9    CONICET - Centro Austral de Investigaciones Ci...      AR     Nodal
     10                            Recursos Hídricos Nequén      AR     Nodal
     11       Universidad Nacional del Comuahue - Bariloche      AR     Nodal
     12                  Recursos Hídricos Tierra del Fuego      AR     Nodal
     13            Universidad Nacional de Tierra del Fuego      AR     Nodal
     14                                                 TNC      AR     Nodal
     15   CONICET - Centro Nacional Patagónico - Puerto ...      AR     Nodal
     16   CONICET - Centro Nacional Patagónico - Puerto ...      AR     Nodal
     17   Universidad Nacional de la Patagonia San Juan ...      AR     Nodal
     18   CONICET - Centro Nacional Patagónico - Puerto ...      AR     Nodal
     19   CONICET - Centro Nacional Patagónico - Puerto ...      AR     Nodal
     20   CONICET - Centro Nacional Patagónico - Puerto ...      AR     Nodal
     21                                    CONICET - Esquel      AR     Nodal
     22               Centro de Ecología Aplicada de Nequén      AR     Nodal
     23   CONICET - Instituto de Investigaciones en Biod...      AR     Nodal
     24              Instituto Provincial del Agua - Rawson      AR     Nodal
     25                  Recursos Hídricos Tierra del Fuego      AR     Nodal
     26              Instituto Provincial del Agua - Rawson      AR     Nodal
     27   CONICET - Centro Nacional Patagónico - Puerto ...      AR     Nodal
     28            Universidad Nacional de Tierra del Fuego      AR     Nodal
     29                            Recursos Hídricos Nequén      AR     Nodal
...                                                     ...     ...       ...
2018 753                                                NaN      CN   Partner
     754                                                NaN      CN   Partner
     755                                                NaN      CN   Partner
     756                                                NaN      CN   Partner
     757                                                NaN      CN   Partner
     758                                                NaN      CN   Partner
     759                                                NaN      CN   Partner
     760                                                NaN      CN   Partner
     761                                                NaN      CN   Partner
     762                                                NaN      CN   Partner
     763                                                NaN      CN   Partner
     764                                                NaN      CN   Partner
     765                                                NaN      CN   Partner
     766                                                NaN      CN   Partner
     767                                                NaN      CN   Partner
     768                                                NaN      CN   Partner
     769                                                NaN      CN   Partner
     770                                                NaN      CN   Partner
     771                                                NaN      CN   Partner
     772                                                NaN      CN   Partner
     773                                                NaN      CN   Partner
     774                                                NaN      CN   Partner
     775                                                NaN      CN   Partner
     776                                                NaN      CN   Partner
     777                                                NaN      CN   Partner
     778                                                NaN      CN   Partner
     779                            Natural Capital Project      FR   Partner
     780                            Natural Capital Project      US   Partner
     794                            Natural Capital Project      US  Regional
     795                            Natural Capital Project      US  Regional

         COUNTRY.1 START\nDATE  LENGTH\n(# OF DAYS)  100 LEVEL\n(INTRO)  \
2013 0          AR  2013-09-12                  2.0                 1.0
     1          AR  2013-09-12                  2.0                 1.0
     2          AR  2013-09-12                  2.0                 1.0
     3          AR  2013-09-12                  2.0                 1.0
     4          AR  2013-09-12                  2.0                 1.0
     5          AR  2013-09-12                  2.0                 1.0
     6          AR  2013-09-12                  2.0                 1.0
     7          AR  2013-09-12                  2.0                 1.0
     8          AR  2013-09-12                  2.0                 1.0
     9          AR  2013-09-12                  2.0                 1.0
     10         AR  2013-09-12                  2.0                 1.0
     11         AR  2013-09-12                  2.0                 1.0
     12         AR  2013-09-12                  2.0                 1.0
     13         AR  2013-09-12                  2.0                 1.0
     14         AR  2013-09-12                  2.0                 1.0
     15         AR  2013-09-12                  2.0                 1.0
     16         AR  2013-09-12                  2.0                 1.0
     17         AR  2013-09-12                  2.0                 1.0
     18         AR  2013-09-12                  2.0                 1.0
     19         AR  2013-09-12                  2.0                 1.0
     20         AR  2013-09-12                  2.0                 1.0
     21         AR  2013-09-12                  2.0                 1.0
     22         AR  2013-09-12                  2.0                 1.0
     23         AR  2013-09-12                  2.0                 1.0
     24         AR  2013-09-12                  2.0                 1.0
     25         AR  2013-09-12                  2.0                 1.0
     26         AR  2013-09-12                  2.0                 1.0
     27         AR  2013-09-12                  2.0                 1.0
     28         AR  2013-09-12                  2.0                 1.0
     29         AR  2013-09-12                  2.0                 1.0
...            ...         ...                  ...                 ...
2018 753        CN  2018-07-30                  3.0                 3.0
     754        CN  2018-07-30                  3.0                 3.0
     755        CN  2018-07-30                  3.0                 3.0
     756        CN  2018-07-30                  3.0                 3.0
     757        CN  2018-07-30                  3.0                 3.0
     758        CN  2018-07-30                  3.0                 3.0
     759        CN  2018-07-30                  3.0                 3.0
     760        CN  2018-07-30                  3.0                 3.0
     761        CN  2018-07-30                  3.0                 3.0
     762        CN  2018-07-30                  3.0                 3.0
     763        CN  2018-07-30                  3.0                 3.0
     764        CN  2018-07-30                  3.0                 3.0
     765        CN  2018-07-30                  3.0                 3.0
     766        CN  2018-07-30                  3.0                 3.0
     767        CN  2018-07-30                  3.0                 3.0
     768        CN  2018-07-30                  3.0                 3.0
     769        CN  2018-07-30                  3.0                 3.0
     770        CN  2018-07-30                  3.0                 3.0
     771        CN  2018-07-30                  3.0                 3.0
     772        CN  2018-07-30                  3.0                 3.0
     773        CN  2018-07-30                  3.0                 3.0
     774        CN  2018-07-30                  3.0                 3.0
     775        CN  2018-07-30                  3.0                 3.0
     776        CN  2018-07-30                  3.0                 3.0
     777        CN  2018-07-30                  3.0                 3.0
     778        CN  2018-07-30                  3.0                 3.0
     779        MM  2018-08-06                  3.0                 2.0
     780        MM  2018-08-06                  3.0                 2.0
     794        FI  2018-09-05                  3.0                 3.0
     795        FI  2018-09-05                  3.0                 3.0

          200 LEVEL\n(INTERMEDIATE)  300 LEVEL\n(ADVANCED)
2013 0                          1.0                    NaN
     1                          1.0                    NaN
     2                          1.0                    NaN
     3                          1.0                    NaN
     4                          1.0                    NaN
     5                          1.0                    NaN
     6                          1.0                    NaN
     7                          1.0                    NaN
     8                          1.0                    NaN
     9                          1.0                    NaN
     10                         1.0                    NaN
     11                         1.0                    NaN
     12                         1.0                    NaN
     13                         1.0                    NaN
     14                         1.0                    NaN
     15                         1.0                    NaN
     16                         1.0                    NaN
     17                         1.0                    NaN
     18                         1.0                    NaN
     19                         1.0                    NaN
     20                         1.0                    NaN
     21                         1.0                    NaN
     22                         1.0                    NaN
     23                         1.0                    NaN
     24                         1.0                    NaN
     25                         1.0                    NaN
     26                         1.0                    NaN
     27                         1.0                    NaN
     28                         1.0                    NaN
     29                         1.0                    NaN
...                             ...                    ...
2018 753                        0.0                    0.0
     754                        0.0                    0.0
     755                        0.0                    0.0
     756                        0.0                    0.0
     757                        0.0                    0.0
     758                        0.0                    0.0
     759                        0.0                    0.0
     760                        0.0                    0.0
     761                        0.0                    0.0
     762                        0.0                    0.0
     763                        0.0                    0.0
     764                        0.0                    0.0
     765                        0.0                    0.0
     766                        0.0                    0.0
     767                        0.0                    0.0
     768                        0.0                    0.0
     769                        0.0                    0.0
     770                        0.0                    0.0
     771                        0.0                    0.0
     772                        0.0                    0.0
     773                        0.0                    0.0
     774                        0.0                    0.0
     775                        0.0                    0.0
     776                        0.0                    0.0
     777                        0.0                    0.0
     778                        0.0                    0.0
     779                        1.0                    0.0
     780                        1.0                    0.0
     794                        0.0                    0.0
     795                        0.0                    0.0

[3263 rows x 13 columns]

In [21]:
data.to_csv(DATA_DIR + 'clean_countries.csv', index_label=['Year', 'Index'])

# Processing the Data for the Map
---
The second step is to aggregate the data and count the number of trainees from each country and the number of trainings held in each country.