In [47]:
import numpy as np
import pandas as pd

In [48]:
data = '../Data/'

In [49]:
data = pd.read_csv(data + 'clean_countries.csv').drop(columns=['Index'])
data

,Year,P/I,NAME,E-MAIL,AFFILIATION TYPE,AFFILIATION NAME,COUNTRY,TYPE,COUNTRY.1,START DATE,LENGTH (# OF DAYS),100 LEVEL (INTRO),200 LEVEL (INTERMEDIATE),300 LEVEL (ADVANCED)
0,2013,I,Mary Ruckelshaus,NaN,Academic,Natural Capital Project,US,Nodal,AR,2013-09-12,2.0,1.0,1.0,NaN
1,2013,I,Anne Guerry,NaN,Academic,Natural Capital Project,US,Nodal,AR,2013-09-12,2.0,1.0,1.0,NaN
2,2013,I,Spencer Wood,NaN,Academic,Natural Capital Project,US,Nodal,AR,2013-09-12,2.0,1.0,1.0,NaN
3,2013,I,Robert Griffin,NaN,Academic,Natural Capital Project,US,Nodal,AR,2013-09-12,2.0,1.0,1.0,NaN
4,2013,I,Jess Silver,NaN,Academic,Natural Capital Project,US,Nodal,AR,2013-09-12,2.0,1.0,1.0,NaN
5,2013,I,Douglas Denu,NaN,Academic,Natural Capital Project,US,Nodal,AR,2013-09-12,2.0,1.0,1.0,NaN
6,2013,P,Ana Liberoff,ana.liberoff@gmail.com,Gov't,CONICET - Centro Nacional Patagónico - Puerto ...,AR,Nodal,AR,2013-09-12,2.0,1.0,1.0,NaN
7,2013,P,María Cecilia Brand,cecibrand@hotmail.com,Gov't,CONICET - Esquel,AR,Nodal,AR,2013-09-12,2.0,1.0,1.0,NaN
8,2013,P,Jorge Kuroda,chimekuroda@yahoo.com.ar,NGO,Centro de Ecología Aplicada de Nequén,AR,Nodal,AR,2013-09-12,2.0,1.0,1.0,NaN
9,2013,P,Daniel Fernandez,dfernandez.ush@gmail.com,Gov't,CONICET - Centro Austral de Investigaciones Ci...,AR,Nodal,AR,2013-09-12,2.0,1.0,1.0,NaN
10,2013,P,Enrique Hahn,eahahn@neuquen.gov.ar,Gov't,Recursos Hídricos Nequén,AR,Nodal,AR,2013-09-12,2.0,1.0,1.0,NaN
11,2013,P,Marcelo Alonso,elamariyo@gmail.com,Academic,Universidad Nacional del Comuahue - Bariloche,AR,Nodal,AR,2013-09-12,2.0,1.0,1.0,NaN
12,2013,P,Gerardo Noir,gerardonoir@yahoo.com.ar,Gov't,Recursos Hídricos Tierra del Fuego,AR,Nodal,AR,2013-09-12,2.0,1.0,1.0,NaN
13,2013,P,Rodolfo Sr Iturraspe,iturraspe@tdfuego.com,Academic,Universidad Nacional de Tierra del Fuego,AR,Nodal,AR,2013-09-12,2.0,1.0,1.0,NaN
14,2013,P,Javier Beltrán,jbeltran@tnc.org,NGO,TNC,AR,Nodal,AR,2013-09-12,2.0,1.0,1.0,NaN
15,2013,P,Juana Aigo,juanaaigo@gmail.com,Gov't,CONICET - Centro Nacional Patagónico - Puerto ...,AR,Nodal,AR,2013-09-12,2.0,1.0,1.0,NaN
16,2013,P,Laura Brandizi,laurabrandizi@gmail.com,Gov't,CONICET - Centro Nacional Patagónico - Puerto ...,AR,Nodal,AR,2013-09-12,2.0,1.0,1.0,NaN
17,2013,P,Luis Epele,luisbepele@hotmail.com,Academic,Universidad Nacional de la Patagonia San Juan ...,AR,Nodal,AR,2013-09-12,2.0,1.0,1.0,NaN
18,2013,P,Martin García Asorey,martinentransito@gmail.com,Gov't,CONICET - Centro Nacional Patagónico - Puerto ...,AR,Nodal,AR,2013-09-12,2.0,1.0,1.0,NaN
19,2013,P,Miguel Pascual,miguelafuera@gmail.com,Gov't,CONICET - Centro Nacional Patagónico - Puerto ...,AR,Nodal,AR,2013-09-12,2.0,1.0,1.0,NaN
20,2013,P,Miriam Solís,miriam@cenpat-conicet.gob.ar,Gov't,CONICET - Centro Nacional Patagónico - Puerto ...,AR,Nodal,AR,2013-09-12,2.0,1.0,1.0,NaN
21,2013,P,Laura Miserendino,mlau@ar.inter.net,Gov't,CONICET - Esquel,AR,Nodal,AR,2013-09-12,2.0,1.0,1.0,NaN
22,2013,P,Pablo Hualde,pablohualde@yahoo.com.ar,NGO,Centro de Ecología Aplicada de Nequén,AR,Nodal,AR,2013-09-12,2.0,1.0,1.0,NaN
23,2013,P,Ricardo Albariño,ralbarin@gmail.com,Gov't,CONICET - Instituto de Investigaciones en Biod...,AR,Nodal,AR,2013-09-12,2.0,1.0,1.0,NaN
24,2013,P,Pablo Rimoldi,rimoldipablo@gmail.com,Gov't,Instituto Provincial del Agua - Rawson,AR,Nodal,AR,2013-09-12,2.0,1.0,1.0,NaN
25,2013,P,Rodrigo Jr Iturraspe,rodrigoiturraspe@gmail.com,NGO,Recursos Hídricos Tierra del Fuego,AR,Nodal,AR,2013-09-12,2.0,1.0,1.0,NaN
26,2013,P,Sabrina Haag,sabri.haag@gmail.com,NGO,Instituto Provincial del Agua - Rawson,AR,Nodal,AR,2013-09-12,2.0,1.0,1.0,NaN
27,2013,P,Silvia Flaherty,silvia_flaherty@yahoo.com,Gov't,CONICET - Centro Nacional Patagónico - Puerto ...,AR,Nodal,AR,2013-09-12,2.0,1.0,1.0,NaN
28,2013,P,Adriana Urciolo,urciuolo@tdfuego.com,Academic,Universidad Nacional de Tierra del Fuego,AR,Nodal,AR,2013-09-12,2.0,1.0,1.0,NaN
29,2013,P,Yanina Rubio,yaninarubio@hotmail.com,Gov't,Recursos Hídricos Nequén,AR,Nodal,AR,2013-09-12,2.0,1.0,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3233,2018,P,NaN,NaN,Academic,NaN,CN,Partner,CN,2018-07-30,3.0,3.0,0.0,0.0
3234,2018,P,NaN,NaN,Academic,NaN,CN,Partner,CN,2018-07-30,3.0,3.0,0.0,0.0
3235,2018,P,NaN,NaN,Academic,NaN,CN,Partner,CN,2018-07-30,3.0,3.0,0.0,0.0
3236,2018,P,NaN,NaN,Academic,NaN,CN,Partner,CN,2018-07-30,3.0,3.0,0.0,0.0
3237,2018,P,NaN,NaN,Academic,NaN,CN,Partner,CN,2018-07-30,3.0,3.0,0.0,0.0
3238,2018,P,NaN,NaN,Academic,NaN,CN,Partner,CN,2018-07-30,3.0,3.0,0.0,0.0
3239,2018,P,NaN,NaN,Academic,NaN,CN,Partner,CN,2018-07-30,3.0,3.0,0.0,0.0
3240,2018,P,NaN,NaN,Academic,NaN,CN,Partner,CN,2018-07-30,3.0,3.0,0.0,0.0
3241,2018,P,NaN,NaN,Academic,NaN,CN,Partner,CN,2018-07-30,3.0,3.0,0.0,0.0
3242,2018,P,NaN,NaN,Academic,NaN,CN,Partner,CN,2018-07-30,3.0,3.0,0.0,0.0
3243,2018,P,NaN,NaN,Academic,NaN,CN,Partner,CN,2018-07-30,3.0,3.0,0.0,0.0
3244,2018,P,NaN,NaN,Academic,NaN,CN,Partner,CN,2018-07-30,3.0,3.0,0.0,0.0
3245,2018,P,NaN,NaN,Academic,NaN,CN,Partner,CN,2018-07-30,3.0,3.0,0.0,0.0
3246,2018,P,NaN,NaN,Academic,NaN,CN,Partner,CN,2018-07-30,3.0,3.0,0.0,0.0
3247,2018,P,NaN,NaN,Academic,NaN,CN,Partner,CN,2018-07-30,3.0,3.0,0.0,0.0
3248,2018,P,NaN,NaN,Academic,NaN,CN,Partner,CN,2018-07-30,3.0,3.0,0.0,0.0
3249,2018,P,NaN,NaN,Academic,NaN,CN,Partner,CN,2018-07-30,3.0,3.0,0.0,0.0
3250,2018,P,NaN,NaN,Academic,NaN,CN,Partner,CN,2018-07-30,3.0,3.0,0.0,0.0
3251,2018,P,NaN,NaN,Academic,NaN,CN,Partner,CN,2018-07-30,3.0,3.0,0.0,0.0
3252,2018,P,NaN,NaN,Academic,NaN,CN,Partner,CN,2018-07-30,3.0,3.0,0.0,0.0
3253,2018,P,NaN,NaN,Academic,NaN,CN,Partner,CN,2018-07-30,3.0,3.0,0.0,0.0
3254,2018,P,NaN,NaN,Academic,NaN,CN,Partner,CN,2018-07-30,3.0,3.0,0.0,0.0
3255,2018,P,NaN,NaN,Academic,NaN,CN,Partner,CN,2018-07-30,3.0,3.0,0.0,0.0
3256,2018,P,NaN,NaN,Academic,NaN,CN,Partner,CN,2018-07-30,3.0,3.0,0.0,0.0
3257,2018,P,NaN,NaN,Academic,NaN,CN,Partner,CN,2018-07-30,3.0,3.0,0.0,0.0
3258,2018,P,NaN,NaN,Academic,NaN,CN,Partner,CN,2018-07-30,3.0,3.0,0.0,0.0
3259,2018,I,Perrine Hamel,NaN,NatCap,Natural Capital Project,FR,Partner,MM,2018-08-06,3.0,2.0,1.0,0.0
3260,2018,I,Nirmal Bhagabati,NaN,NatCap,Natural Capital Project,US,Partner,MM,2018-08-06,3.0,2.0,1.0,0.0
3261,2018,I,Lisa Mandle,NaN,NatCap,Natural Capital Project,US,Regional,FI,2018-09-05,3.0,3.0,0.0,0.0
3262,2018,I,Henry Borrebach,NaN,NatCap,Natural Capital Project,US,Regional,FI,2018-09-05,3.0,3.0,0.0,0.0

In [50]:
data_list = [data[data['Year'] == year].drop(columns=['Year']) for year in range(2013,2019)]

In [3]:
# data = './data/'

In [4]:
# xls = pd.ExcelFile(data + 'PARTICIPANT LISTS - 2013-present.xlsx')
# data_list = [pd.read_excel(xls, '2013'), pd.read_excel(xls, '2014'), pd.read_excel(xls, '2015'), pd.read_excel(xls, '2016'), pd.read_excel(xls, '2017'), pd.read_excel(xls, '2018')]

In [51]:
data_list[0].head()

,P/I,NAME,E-MAIL,AFFILIATION TYPE,AFFILIATION NAME,COUNTRY,TYPE,COUNTRY.1,START DATE,LENGTH (# OF DAYS),100 LEVEL (INTRO),200 LEVEL (INTERMEDIATE),300 LEVEL (ADVANCED)
0,I,Mary Ruckelshaus,NaN,Academic,Natural Capital Project,US,Nodal,AR,2013-09-12,2.0,1.0,1.0,NaN
1,I,Anne Guerry,NaN,Academic,Natural Capital Project,US,Nodal,AR,2013-09-12,2.0,1.0,1.0,NaN
2,I,Spencer Wood,NaN,Academic,Natural Capital Project,US,Nodal,AR,2013-09-12,2.0,1.0,1.0,NaN
3,I,Robert Griffin,NaN,Academic,Natural Capital Project,US,Nodal,AR,2013-09-12,2.0,1.0,1.0,NaN
4,I,Jess Silver,NaN,Academic,Natural Capital Project,US,Nodal,AR,2013-09-12,2.0,1.0,1.0,NaN

In [52]:
# returns list of participants, instructors, and participant count by country for each year
def extract(df_list):
    participants = []
    instructors = []
    country_counts = []
    
    for df in df_list:
        temp = df[(df['P/I'] == 'P')]
        country_counts.append(temp.groupby(['COUNTRY']).size())
        participants.append(temp)
        instructors.append(df[(df['P/I'] == 'I')])
        
    return participants, instructors, country_counts

participants, instructors, country_counts = extract(data_list)

In [59]:
aggregated_data = pd.concat(country_counts, axis=1, sort=True).reset_index().fillna(value=0)
column_mapping = {'index': 'Country', 0: '2013', 1: '2014', 2: '2015', 3: '2016', 4: '2017', 5: '2018'}
aggregated_data = aggregated_data.rename(index=str, columns=column_mapping)
aggregated_data = pd.melt(aggregated_data, id_vars=['Country'], value_vars=["2013", "2014", "2015", "2016", "2017", "2018"])
aggregated_data = aggregated_data.sort_values(by=['Country', 'variable']).reset_index(drop=True)
aggregated_data = aggregated_data.rename(columns={'variable': 'Year', 'value':"Number of Participants"})
aggregated_data.head()

  Country  Year  Number of Participants
0      AE  2013                     0.0
1      AE  2014                     0.0
2      AE  2015                     1.0
3      AE  2016                     0.0
4      AE  2017                     0.0

In [60]:
aggregated_data.to_csv('Aggregated Data.csv', sep=',', encoding='utf-8', index=False)

In [33]:
data_list[0].head()

,P/I,NAME,E-MAIL,AFFILIATION TYPE,AFFILIATION NAME,COUNTRY,TYPE,COUNTRY.1,START DATE,LENGTH (# OF DAYS),100 LEVEL (INTRO),200 LEVEL (INTERMEDIATE),300 LEVEL (ADVANCED)
0,I,Mary Ruckelshaus,NaN,Academic,Natural Capital Project,US,Nodal,AR,2013-09-12,2.0,1.0,1.0,NaN
1,I,Anne Guerry,NaN,Academic,Natural Capital Project,US,Nodal,AR,2013-09-12,2.0,1.0,1.0,NaN
2,I,Spencer Wood,NaN,Academic,Natural Capital Project,US,Nodal,AR,2013-09-12,2.0,1.0,1.0,NaN
3,I,Robert Griffin,NaN,Academic,Natural Capital Project,US,Nodal,AR,2013-09-12,2.0,1.0,1.0,NaN
4,I,Jess Silver,NaN,Academic,Natural Capital Project,US,Nodal,AR,2013-09-12,2.0,1.0,1.0,NaN

In [34]:
names_only = [year['NAME'] for year in participants]
names_combined = pd.concat(names_only)
print("Total number of people trained over the years: " + str(len(names_combined)))

Total number of people trained over the years: 2791

In [36]:
names_only = [year['NAME'] for year in instructors]
names_combined = pd.concat(names_only)
print("Total number of trainees over the years: " + str(len(names_combined)))

Total number of trainees over the years: 472

In [37]:
countries_taught_in_only = [year['COUNTRY.1'] for year in instructors]
countries_taught_in_only_combined = pd.concat(countries_taught_in_only).unique()
print("Number of countries trained in over the years: " + str(len(countries_taught_in_only_combined)))
print()
print("List of countries trained in:\n" + '\n'.join(countries_taught_in_only_combined))

Number of countries trained in over the years: 29

List of countries trained in:
AR
KH
CL
GB
MZ
PE
ID
US
CA
PA
MN
NI
ES
CR
KR
IN
BB
BT
KE
CO
IT
CH
EC
ZA
RO
CN
BR
MM
FI

In [38]:
print("Number of countries trainees come from over the years: " + str(len(aggregated_data['Country'].unique())))
print()
print("List of countries trained in:\n" + '\n'.join(aggregated_data['Country'].unique()))

Number of countries trainees come from over the years: 89

List of countries trained in:
AE
AR
AT
AU
BB
BD
BE
BG
BJ
BO
BR
BS
BT
BW
BZ
CA
CH
CI
CL
CM
CN
CO
CR
DE
DK
DO
EC
EG
ES
ET
FR
GB
GE
GH
GR
GT
HU
ID
IL
IN
IT
JM
JO
JP
KE
KG
KH
KR
KZ
LA
LK
LR
LT
MA
MG
MM
MN
MQ
MX
MY
MZ
NG
NI
NL
NO
NP
NZ
PA
PE
PH
PK
PR
PT
RO
RU
SC
SE
SG
SI
SR
SZ
TH
TN
TT
TZ
US
VN
ZA
ZW

In [39]:
grouped_by_type = [year.groupby(['TYPE']).size() for year in participants]
training_type_per_year = pd.concat(grouped_by_type, axis=1, sort=True).reset_index().fillna(value=0)
column_mapping = {'index': 'Type', 0: '2013', 1: '2014', 2: '2015', 3: '2016', 4: '2017', 5: '2018'}
training_type_per_year = training_type_per_year.rename(index=str, columns=column_mapping)
training_type_per_year.head(10)

        Type   2013   2014   2015   2016   2017   2018
0      Intro  131.0  110.0   22.0    0.0    0.0    0.0
1      Nodal   71.0   32.0   64.0    0.0    0.0    8.0
2    Partner  272.0   25.0  195.0   71.0  392.0  369.0
3     Public   38.0    0.0    0.0    0.0    0.0    0.0
4   Regional   77.0   87.0    0.0   46.0   10.0    0.0
5    Seminar    0.0    0.0   14.0    0.0    0.0    0.0
6  Symposium    0.0    0.0    0.0  222.0  262.0  273.0

In [40]:
print([len(year['COUNTRY'].unique()) for year in participants])

[43, 33, 42, 41, 32, 41]

In [41]:
intro = pd.DataFrame([len(year['100 LEVEL (INTRO)'].dropna()) for year in participants]).transpose()
column_mapping = {0: '2013', 1: '2014', 2: '2015', 3: '2016', 4: '2017', 5: '2018'}
intro = intro.rename(columns=column_mapping, index={0: '100 Level (Intro)'})

intermediate = pd.DataFrame([len(year['200 LEVEL (INTERMEDIATE)'].dropna()) for year in participants]).transpose()
intermediate = intermediate.rename(columns=column_mapping, index={0: '200 Level (Intermediate)'})

advanced = pd.DataFrame([len(year['300 LEVEL (ADVANCED)'].dropna()) for year in participants]).transpose()
advanced = advanced.rename(columns=column_mapping, index={0: '300 Level (Advanced)'})

intro = intro.append(intermediate)
intro = intro.append(advanced)
intro.head()

KeyError: '100 LEVEL (INTRO)'

In [42]:
level_count_by_country = [year.groupby('COUNTRY').sum().drop('LENGTH (# OF DAYS)', 1) for year in participants]
level_count_by_country[0]['Year'] = 2013
level_count_by_country[1]['Year'] = 2014
level_count_by_country[2]['Year'] = 2015
level_count_by_country[3]['Year'] = 2016
level_count_by_country[4]['Year'] = 2017
level_count_by_country[5]['Year'] = 2018

level_count_by_country = [year.reset_index().groupby(['Year', 'COUNTRY']).sum() for year in level_count_by_country]
levels_grouped_by_year_and_country = pd.concat(level_count_by_country).reset_index()
levels_grouped_by_year_and_country.to_csv('Class Level Stats.csv', sep=',', encoding='utf-8', index=False)
levels_grouped_by_year_and_country.head()

KeyError: "['LENGTH (# OF DAYS)'] not found in axis"

In [43]:
type_count_by_country = [year.groupby(['COUNTRY', 'TYPE']).size().reset_index().rename(columns={0:'Count'}) for year in participants]
type_count_by_country[0]['Year'] = 2013
type_count_by_country[1]['Year'] = 2014
type_count_by_country[2]['Year'] = 2015
type_count_by_country[3]['Year'] = 2016
type_count_by_country[4]['Year'] = 2017
type_count_by_country[5]['Year'] = 2018



type_count_by_country = [year.groupby(['Year', 'COUNTRY', 'TYPE']).sum() for year in type_count_by_country]
type_grouped_by_year_and_country = pd.concat(type_count_by_country).reset_index()

type_grouped_by_year_and_country.to_csv('Type Stats.csv', sep=',', encoding='utf-8', index=False)
type_grouped_by_year_and_country.head()

   Year COUNTRY      TYPE  Count
0  2013      AR     Nodal     27
1  2013      AR   Partner      1
2  2013      AU    Public      6
3  2013      BE  Regional      1
4  2013      BG    Public      1

In [44]:
training_location = [year.groupby('COUNTRY.1').size() for year in participants]

aggregated_training_location = pd.concat(training_location, axis=1, sort=True).reset_index().fillna(value=0)
column_mapping = {'index': 'Country', 0: '2013', 1: '2014', 2: '2015', 3: '2016', 4: '2017', 5: '2018'}
aggregated_training_location = aggregated_training_location.rename(index=str, columns=column_mapping)
aggregated_training_location = pd.melt(aggregated_training_location, id_vars=['Country'], value_vars=["2013", "2014", "2015", "2016", "2017", "2018"])
aggregated_training_location = aggregated_training_location.sort_values(by='Country').reset_index(drop=True)
aggregated_training_location = aggregated_training_location.rename(columns={'variable': 'Year', 'value':"Number of Participants"})

aggregated_training_location.to_csv('Training Location Data.csv', sep=',', encoding='utf-8', index=False)
aggregated_training_location.head(10)

  Country  Year  Number of Participants
0      AR  2013                    28.0
1      AR  2015                     0.0
2      AR  2014                     0.0
3      AR  2018                     0.0
4      AR  2017                     0.0
5      AR  2016                     0.0
6      BB  2015                    19.0
7      BB  2014                     0.0
8      BB  2018                     0.0
9      BB  2017                     0.0

In [46]:
aggregated_training_location.groupby('Country').sum()

         Number of Participants
Country
AR                         28.0
BB                         19.0
BR                         20.0
BT                         23.0
CA                         18.0
CH                         42.0
CL                         24.0
CN                        692.0
CO                         18.0
CR                         50.0
EC                         34.0
ES                         57.0
GB                        153.0
ID                         38.0
IN                         60.0
IT                         30.0
KE                         56.0
KH                         65.0
KR                         34.0
MN                         20.0
MZ                         78.0
NI                          6.0
PA                         21.0
PE                         60.0
RO                         22.0
US                       1099.0
ZA                         24.0