In [1]:
import pandas as pd

In [46]:
processed = pd.read_csv('processed_Data.csv')
processed.head()

  Country  Year  Number_of_Participants  fillKey
0     ARG  2013                      28    18-30
1     ARG  2014                       0  UNKNOWN
2     ARG  2015                       0  UNKNOWN
3     ARG  2016                       1      1-8
4     ARG  2017                       0  UNKNOWN

In [79]:
participants = {}

for n,g in processed.groupby('Year'):
    participants[n] = g.drop(columns=['Year', 'fillKey'])

In [86]:
participants[2018][participants[2018].Number_of_Participants > 0].shape

(41, 2)

In [87]:
participants[2018][participants[2018].Number_of_Participants > 0].to_csv('data2018.csv', index=False)

---

In [55]:
data = pd.read_excel('Data/PARTICIPANT LISTS - 2013-present.xlsx', skiprows=1, sheet_name=None)
data.keys()

odict_keys(['2018', '2017', '2016', '2015', '2014', '2013'])

In [57]:
d2018 = data['2018']

In [76]:
d2018[d2018['P/I'] == 'P']['COUNTRY'].unique()

array(['United States', 'South Korea', nan, 'Spain', 'Sweden',
       'Australia', 'Colombia', 'Mongolia', 'India', 'Mexico',
       'United Kingdom', 'China', 'Japan', 'Canada', 'Liberia', 'Italy',
       'Mozambique', 'South Africa', 'Brazil', 'France', 'Germany',
       'Costa Rica', 'Israel', 'Switzerland', 'Chile', 'Singapore',
       'Jamaica', 'New Zealand', 'Ecuador', 'Nigeria', 'Lithuania',
       'Indonesia', 'Sri Lanka', 'Ethiopia', "CÃ´te-d'Ivoire", 'Peru',
       'Kenya', 'Tanzania', 'Myanmar', 'Pakistan', 'Romania', 'Russia'],
      dtype=object)

---